<div
  class="piece"
  *ngFor="let piece of pieces"
  [style.transform]="piece | invoke: getTranslateForPiece:positions"
  [style.width]="widthOfPiece"
  [style.height]="widthOfPiece"
  (mousedown)="onPieceClick(piece, $event)"
  (touchstart)="onPieceClick(piece, $event)"
></div>
<img
  class="result-image"
  [class.show]="showResult"
  src="/assets/images/gift.webp"
  alt=""
/>
<div class="santa-container" [class.show]="showSanta">
  <img class="santa" src="/assets/images/santa.webp" alt="" />
  <div class="code" *ngIf="showSanta">Halotti beszéd első mondata fejből</div>
</div>
